body{
    display: flex;
    justify-content: center;
}

.todolist-panel{
    width: 25em;
    min-height: 25em;
    border: 3px solid #aaa;
    box-shadow: 2px 2px 2px #aaa;
}

.input-pane{
    padding: 9px 1em;
    display: flex;
    height: 2em;
}

.list-pane{
    padding: 9px 1em;
    height: 2em;
}


.input-pane>input{
    flex: 1 1 8em;
}

.input-pane>button{
    width: 2.5em;
}

.list-pane>.todo-item{
    display: flex;
    margin: 0.5em 0 0.5em 0;
}

.list-pane>.todo-item>.title{
    flex: 1 1 8em;

}

.important,.delete{
    width: 1.3em;
    text-align: center;
    border: 2px solid #aaa;
}





.list-pane {
    padding: 9px 1em;
    min-height: 40em;
}

.list-pane>.per-pane{
    display: flex;
    margin: 0.5em 0 0.5em 0;
}

.per-pane>input[type="text"]{
    flex: 1 1 8em;
}

.per-pane>button{
    width: 3em;
    height: 3em;
}